<nav class="{{navbar_prefix}}block  {{navbar_mod}}" {% if view == "scroll" %}data-scrollto="navbar"{% endif %}>
	<div class="{{navbar_prefix}}header">
		<div class="{{navbar_prefix}}container container  is--header">
			<div class="{{navbar_prefix}}header-row row ">
				<div class="{{navbar_prefix}}header-cols cols  is--hamburger">
					<div class="{{navbar_prefix}}hamburger">
						<button class="{{navbar_prefix}}hamburger-card" {% if view == "scroll" %}data-scrollto="humb"{% endif %} data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false" data-toggle-nav=".navbar__block" data-body="html" data-collapse-nav=".navbar__collapse">
							<span class="{{navbar_prefix}}hamburger-card-inner">
								<span class="{{navbar_prefix}}hamburger-card-line  is--left"></span>
								<span class="{{navbar_prefix}}hamburger-card-line  is--center"></span>
								<span class="{{navbar_prefix}}hamburger-card-line  is--right"></span>
							</span>
						</button>
					</div> 
				</div>
				<div class="{{navbar_prefix}}header-cols cols  is--logotip">
					<a class="{{navbar_prefix}}logotip" href="{{page.index}}">
						{% include "../svg-sprite/svg.twig" with {icon:"logotip"} %}
					</a>
				</div>
				<div class="{{navbar_prefix}}header-cols cols  is--tel">
					<a href="tel:{{contacts.phone_tel}}" class="{{navbar_prefix}}phone-icon">{% include "../svg-sprite/svg.twig" with {icon:"contacts-tel"} %}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="{{navbar_prefix}}collapse" >
		<div class="{{navbar_prefix}}container  container  is--collapse">
			<div class="{{navbar_prefix}}collapse-inner">	
				<div class="row {{navbar_prefix}}collapse-row">
					<div class="{{navbar_prefix}}collapse-cols cols  is--left">
						<a class="{{navbar_prefix}}logotip" href="{{page.index}}">
							{% include "../svg-sprite/svg.twig" with {icon:"logotip"} %}
						</a> 
					</div>
					<div class="{{navbar_prefix}}collapse-cols cols  is--center">
						<ul class="{{navbar_prefix}}nav">
							{% set navbar = [{"name":"Главная", "link":page.index, "mod":"is--index"},{"name":"О нас", "link":page.about,"mod":""},{"name":"Наши работы", "link":page.portfolio, "mod":""},{"name":"Услуги", "link":page.services, "mod":""},{"name":"Отзывы", "link":page.reviews, "mod":""},{"name":"Новости", "link":page.articles, "mod":""},{"name":"Контакты", "link":page.contacts, "mod":""}] %}
						    {% for value in navbar %}
							<li class="{{navbar_prefix}}nav-item  {{value.mod }}"><a href="{{value.link}}" class="{{navbar_prefix}}nav-link"><span>{{value.name}}</span></a></li>
						    {% endfor %}

						    {% include "item-drop.twig" with {prefix:navbar_prefix, mod:"", name:"Drop", list : [{"name":"Пункт 1", "link":"", "mod":""},{"name":"Пункт 2", "link":"", "mod":""},{"name":"Пункт 3", "link":"", "mod":""},{"name":"Пункт 4", "link":"", "mod":""}]} %}
						</ul>							
					</div>
					<div class="{{navbar_prefix}}collapse-cols cols  is--right">		
						<a href="tel:{{contacts.phone_tel}}" class="{{navbar_prefix}}phone">{{contacts.phone}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>